<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @post1.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @post1.descricao %>
</p>

<%= link_to 'Edita', edit_post1_path(@post1) %> |
<%= link_to 'Voltar', post1s_path %>
